.settings {
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 80px
}

.settings-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.settings-selection {
  width: 60%;
}

.overview {
  display: flex;
  width: 60%;
  justify-content: flex-end;
}

.preview-img {
  height: 420px;
  width: 460px;
}

.game-settings {
  display: flex;
  flex-direction: row;
  background-color: #F6F6F6;
  gap: 16px;
}

